body {
}

.text-darkgray{
    color: #808080 !important;
}

.text-saddlebrown{
    color: saddlebrown !important;
}

.text-orangered{
    color: orangered !important;
}

.text-steelblue{
    color: steelblue !important;
}

.timeline > li{
    margin-right:0px;
}

.timeline > li > .timeline-item{
    margin-right:0px;
}

.col-slabel{
    width:9%;
    float:left;
    text-align:right;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.col-label{
    width:10%;
    float:left;
    text-align:right;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-content-small{
    width:10%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-content-smedium{
    width:16%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-content-medium{
    width:20%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-content-slarge{
    width:40%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-content-large{
    width:30%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-content-sfill{
    width:65%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-content-fill{
    width:90%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.alarmTableTable{
    border:0px;
    width:100%;
}

.alarmTableTr{
    border:0px;
    width:100%;
}

.alarmTableTdTitle{
    text-align:center;
    padding:5px;
    width:15%;
    height:30px;
    border:1px solid #f4f4f4;
    border-collapse:collapse;
}

.alarmTableTdContent{
    padding:5px;
    width:85%;
    height:30px;
    border:1px solid #f4f4f4;
    border-collapse:collapse;
}

.alarmTableTdContentRed{
    color:red;
    font-weight:bold;
    padding:5px;
    width:85%;
    height:30px;
    border:1px solid #f4f4f4;
    border-collapse:collapse;
}

.alarmTableTdContentGreen{
    color:green;
    font-weight:bold;
    padding:5px;
    width:85%;
    height:30px;
    border:1px solid #f4f4f4;
    border-collapse:collapse;
}